<div class="container">
	<h2 class="my-4 text-center">Mon Profil</h2>
		<div class="card text-center">
		  <div class="card-header">
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
		    <p class="card-text">Description</p>
		    <p class="card-text"><%= @user.description %></p>
		    <p class="card-text">Email</p>
		    <p class="card-text small"><%= @user.email %></p>
		    <a href="/" class="btn btn-primary">Accueil</a>
		    <a href="/users/edit" class="btn btn-primary">Éditer</a>
		  </div>
		  </div>
		  <div class="card-footer text-muted text-center">
		    <%= @user.created_at.strftime("Créé le %d %b %Y à %H:%M") %>
		  </div>
	<% if @event.count == 0 %>
	<h2 class="my-4 text-center">Vous n'avez pas d'événements</h2>
	<% else %>
  	<h2 class="my-4 text-center">Voici vos événements</h2>
        <div class="row">
	        <% @event.each do |event| %>
	        <div class="col-md-6">
	          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
	          	<div class="card-body">
	            <h3><%= event.title %></h3>
	            <p><a class="btn btn-secondary" href="<%= event_path(event.id)%>" role="button">Voir l'event »</a></p>
	            </div>
	          </div>
	        </div>
	        <% end %>
        </div>
    <% end %>
</div>