<div class="d-flex align-items-center" style="height: 40rem;">
<div class="text-center container" style="max-width: 340px;">
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Eventbrite_logo_2018.png/800px-Eventbrite_logo_2018.png" alt="" width="300" height="85">
      <h2 class="h2 mb-3 font-weight-normal">Modifier votre&nbsp;mot de passe</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "Nouveau mot de passe" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirmer mot de passe" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Changer mon mot de passe", class: 'btn btn-lg btn-primary btn-block mt-3' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

</div>
</div>