<div class="container">
	<div class="jumbotron p-3 p-md-5 text-black rounded bg-light mt-3">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-weight-bold">Modifier un event</h1>
		    <%= form_for @event, class: 'my-3' do |f| %>

		    	<%= label_tag 'Titre' %>
		      <%= f.text_field :title, class: 'form-control' %>
		      <br />

		      <%= label_tag 'Description' %>
		      <%= f.text_field :description, class: 'form-control' %>
		      <br />

		      <%= label_tag 'Prix' %>
		      <%= f.number_field :price, class: 'form-control' %>
		      <br />

		      <%= label_tag 'Lieu' %>
		      <%= f.text_field :location, class: 'form-control' %>
		      <br />

		      <%= label_tag 'Durée' %>
		      <%= f.select :duration, options_for_select([["5 minutes", 5], ["10 minutes", 10], ["15 minutes", 15], ["20 minutes", 20], ["25 minutes", 25], ["30 minutes", 30], ["35 minutes", 35], ["40 minutes", 40], ["45 minutes", 45], ["50 minutes", 50], ["55 minutes", 55], ["60 minutes", 60]]), class: 'form-control btn-check' %>
				<br /><br />

			<%= label_tag 'Date' %>
			<%= f.datetime_select :start_date, :order => [:day, :month, :year], class: 'form-control btn-check' %>
			<br />

		      <%= submit_tag "Modifier l'événement", class: 'btn btn-secondary mt-3' %>
		    <% end %>
		    <%= form_tag event_images_path(@event), multipart: true do %>
			  <%= file_field_tag :image, class: 'form-control mt-3' %>
			  <%= submit_tag "Mettre à jour l'image", class: 'btn btn-secondary mt-3' %>
			<% end %>
        </div>
      </div>
	</div>