<div class="container">
	<h2 class="my-4 text-center">Événement</h2>
		<div class="card text-center">
		  <div class="card-header">
		  </div>
		  <div class="card-body">
		    <h5 class="card-title"><%= @event.title %></h5>
		    <p class="card-text small">Description</p>
		    <p class="card-text"><%= @event.description %></p>
		    <p class="card-text small">Email de l'organisateur</p>
		    <p class="card-text"><%= @event.administrator.email %></p>
		    <p class="card-text"><%= @event.start_date.strftime("Commence le %d %b %Y à %H:%M") %><%= @event.end_date.strftime(", fini le %d %b %Y à %H:%M") %></p>
		    <p class="card-text">Lieu : <%= @event.location %></p>
		    <p class="card-text">Prix : <%= @event.price %> €</p>
		    <a href="/" class="btn btn-primary">Home</a>
		  </div>
		  </div>
		  <div class="card-footer text-muted text-center">
		    <%= @event.created_at.strftime("Créé le %d %b %Y à %H:%M") %>
		  </div>
</div>